.userinfo-container {
    background-color: #fff;
    padding: 10px;

    p {
        line-height: 1.5;
        color: #666;
        span{
            padding-left: 10px;
        }
        i{
            vertical-align: middle;
        }
    }
}