.header-container  {
    background-color: rgb(233, 32, 61);
    padding: 10px;
    color: #fff;
    font-size: 16px;
    line-height: 1;
    .header-left {
        width: 60px;
        text-align: left;
        margin: 5px 0;
    }
    .header-middle {
        width: auto;
        margin: 0 30px 0 60px;
        .search-container {
            background-color: #fff;
            border-radius: 99px;
            overflow: hidden;
            padding: 5px;
            position: relative;
            i {
                color: #ccc !important;
            }
            input.search {
                font-size: 14px !important;
                font-weight: normal;
                position: absolute;
                box-sizing: border-box;
                width: calc(100%-30px);
                height: 100%;
                top: 0;
                left: 30px;
            }
        }
    }
    .header-right {
        width: 30px;
        margin: 5px 0;
        text-align: right;
    }
}