.home-ad {
    .ad-container {
        width: 100%;
        padding: 10px 15px;
    }
    .ad-item {
        width: 33.3%;
        height: 140px;
        img {
            width: 100%;
            height: 100%;
        }
    }
}